@tailwind base;
@tailwind components;
@font-face {
  font-family: "Webserver";
  src: url("../src/fonts/WebServeroff.ttf") format("tff");
}
@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@tailwind utilities;

.waves{
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    transform: rotate(180deg);
}

.wave1 {
      animation: moveWave1 3s ease-in-out infinite alternate;
    }

    @keyframes moveWave1 {
      from {
        transform: translateX(-2000px);
      }
    }

    .wave-2 {
      animation: moveWave2 6s 1.2s ease-in-out infinite alternate;
    }

    @keyframes moveWave2 {
      from {
        transform: translateX(-1800px);
      }
    }

    .wave3 {
      animation: moveWave3 6s 0.7s ease-in-out infinite alternate;
    }

    @keyframes moveWave3 {
      from {
        transform: translateX(-1000px);
      }
    }
.wave2 {
  
    /* position: absolute; */
    /* height: 100; */

    animation: waveMv2 8s ease-in-out infinite alternate
}

@keyframes waveMv2 {
    /* from {
        transform: translateX(-1800px);
      }
    } */
    0%{
        transform: translate3d(-900px,0,0);
    }
   
    100%{
        transform: translate3d(850px,0,0)
    }}
